* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background-color: #1e293b;
}

.logo a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links :hover {
    color: #2563eb;
    text-decoration: underline;
}

.auth-buttons {
    display: flex;
    gap: 20px;
}

.login, .signup {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.login {
    background-color: transparent;
    color: #2563eb;
    border: 2px solid #f0f0f0;
}

.signup {
    background-color: #2563eb;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.product-card {
    flex: 0 0 calc(25% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-info {
    margin-top: 15px;
    text-align: center;
}

.product-info h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.product-info .price {
    font-weight: bold;
    color: #ef4444;
}