* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    height: 60px;
    width: 100%;
    color: #f0f0f0;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 30px;
}

.header .nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 80px;
    gap: 30px;
}

.sidebar {
    position: sticky;
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    top: 80px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    height: fit-content;
}

.sidebar ul {
    list-style: none;
    margin-top: 15px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #1e293b;
    font-size: 16px;
}

.content {
    flex: 1;
}

.product-grid {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.product-card {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;

    font-size: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
}


.check-scroll {
    margin-top: 40px;
}

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;

    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 50%;

    box-shadow: 0 4px 10px rgba(37,99,235,0.4);
    font-size: 24px;
    cursor: pointer;
}

.scroll-top-btn:hover {
    background-color: #1d4ed8;
}